html {
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #0e0e10;
  color: #efefef;
}
*::placeholder {
  color: #a3a3a3 !important;
}
input:focus {
  outline: 2px solid rgb(193, 134, 201) !important;
  background-color: #222227 !important;
  color: #efefef !important;
}
/* Button clicking */
button:active {
  background-color: rgb(193, 134, 201) !important;
  transition: background-color 0s;
}

.left-menu {
  background-color: #18181b;
  color: #efefef;
  height: 98.5vh;
}
.left-menu-padding {
  padding-top: 0.5vh;
  padding-left: 1.25vw;
}
.bordercolor {
  border-color: #a3a3a3;
}
.no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}
.no-border {
  border: 0;
}
.recipe-input {
  background-color: #18181b;
  color: #efefef;
  transition: background-color 0.5s;
}
.recipe-input:hover {
  background-color: #222227;
}
.plus-button {
  padding-left: 6px;
  padding-right: 6px;
}

/* Import/Export Button */
.text-button {
  border-color: transparent;
  border-radius: 5px;
  font-size: 0.9rem;

  background-color: #35353b;
  color: #efefef;
  transition: background-color 0.5s;
}
.text-button:hover {
  background-color: #222227;
}

/* Container for all the cards containing recipees */
#recipe-container {
  background-color: #18181b;
  color: #efefef;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #a3a3a3 rgba(0, 0, 0, 0) !important;
  scrollbar-width: thin;
}
/* Card containing the Recipe's name */
.recipe-card {
  width: 100%;
  background-color: #222227;
  color: #efefef;
}
#recipe-counter {
  font-style: italic;
  font-size: 0.8rem;
}
/* Custom File Input Button*/
#import-recipe-list {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* Roulette */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roulette-card {
  width: 95%;
  height: 25%;
  margin-left: -0.5%;
  
  background-color: #222227;
  color: #efefef;
}

.roulette-button {
  width: 50%;

  border-color: white;
  border-radius: 10px;
  border-style: solid;

  background-color: #35353b;
  color: #efefef;
}
.roulette-button:hover {
  background-color: #222227;
}

/* Roulette content */
.roulette-recipes {
  text-overflow: ellipsis;
}

.roulette-recipes-secondary-color {
  color: #bdbdbd;
} 

.roulette-recipes-tertiary-color {
  color: #8a8a8a;
}

/* Roulette Reroll/Result */
#roulette-result {
  width: 95%;
  border-color: white;
  border-radius: 10px;
  border-style: dashed;

  background-color: #222227;
  color: #efefef;
}

.top-centered-40 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-centered-75 {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hide stuff */
.hidden {
  display: none;
}


/* Error card */
.fade-out {
  opacity: 0;
}

.fade-in {
  transition: opacity 0s !important;
  opacity: 1;
}

#error-card {
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  width: 20%;
  height: 20%;

  background-color: #222227;
  color: #efefef;
  border-radius: 10px;
  border-style: solid;
  font-weight: bold;

  transition: opacity 5s;
}

#error-card-title{
  background-color: #35353b;
}

.error-border-color {
  border-color: rgb(255, 78, 78);
  border-width: 2px;
}

